APPWRITE_PROJECT_ID=your_project_id
APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_API_KEY=your_server_api_key
APPWRITE_DATABASE_ID=library_ingestion
APPWRITE_JOBS_COLLECTION_ID=ingestion_jobs
APPWRITE_BOOKS_COLLECTION_ID=books
APPWRITE_SOURCE_BUCKET_ID=source_pdfs
WORKER_API_TOKEN=your_worker_bearer_token
WORKER_ID=vps-worker
WORKER_VERSION=v1
PORT=4010
MOCK_RENDER_ENABLED=true
MOCK_RENDER_PAGE_COUNT=6
ASSETS_REPO_PATH=C:/Users/MD SAHIL HASNAIN/desktop/projects/islamic-library-assets
ASSETS_REPO_BRANCH=main
ASSETS_REPO_OWNER=sahilhasnain
ASSETS_REPO_NAME=islamic-library-assets
MAX_RETRY_ATTEMPTS=3
RENDER_DPI=144
GIT_PUSH_ENABLED=false
GIT_REMOTE_NAME=origin
GITHUB_REPO_HTTPS=https://github.com/sahilhasnain/islamic-library-assets.git
GITHUB_TOKEN=your_github_token
